:root {
	--bg: #050505;
	--green: #00ff88;
	--soft: #00cc66;
	--text: #baffd6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", monospace;
}

body {
	background: var(--bg);
	color: var(--green);
	overflow: hidden;
}

/* Particles canvas */
canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.hero {
	text-align: center;
	padding: 100px 20px 40px;
}

.hero h1 {
	font-size: 48px;
}

.section {
	max-width: 900px;
	margin: auto;
	padding: 20px;
}

.terminal {
	background: black;
	border: 1px solid var(--green);
	padding: 20px;
	border-radius: 10px;
	height: 350px;
	overflow-y: auto;
}

.line {
	margin-bottom: 5px;
}

.input-line {
	display: flex;
}

.prompt {
	margin-right: 5px;
}

input {
	background: transparent;
	border: none;
	outline: none;
	color: var(--green);
	width: 100%;
	font-family: inherit;
}